.slider-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.slider-container-head {
  align-items: center;
  border-bottom: 1px solid #dfe3e8;
  display: flex;
  justify-content: space-between;
  padding: 1.6rem;
  width: 100%;
}
.slider-container-content {
  padding: 1.6rem;
  height: 100%;
}
.slider-container-footer {
  padding: 1.6rem;
}
